body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 20px;
    background-color: #FCF8E8;
    margin: 10px;
    }
    .profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.735);
    max-width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    .profile-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    }
    #score {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 70%;
    }
    
    #score td, #score th {
    border: 1px solid #ddd;
    padding: 8px;
    }
    #score th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #94B49F;
    color: white;
    text-decoration: solid;
    }
    .proj {
    margin: auto;
    width: 30%;
    border: 2px solid #DF7861;
    padding: 5px;
    float: left;
    }
    #conform {
    margin: auto;
    border: 2px solid #DF7861;
    padding: 5px;
    float: left;
    width: 25%;
    }
    